<a href="https://colab.research.google.com/github/Gobals89/Kaggle/blob/main/Flights.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
%matplotlib inline
from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [ ]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [ ]:
df = sns.load_dataset('flights')
df.tail(26)

In [ ]:
df.groupby('month').count()

       year  passengers
month
Jan      12          12
Feb      12          12
Mar      12          12
Apr      12          12
May      12          12
Jun      12          12
Jul      12          12
Aug      12          12
Sep      12          12
Oct      12          12
Nov      12          12
Dec      12          12

In [ ]:
df.month = df.month.map({'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12})

In [ ]:
from sklearn.model_selection import train_test_split
X = df.drop('passengers', axis=1)
y = df.passengers

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.33, random_state=1)

In [ ]:
dtree = tree.DecisionTreeRegressor(random_state=0)

In [ ]:
best_params_dict = {'criterion': ['squared_error'], 'max_depth': [25]}

In [ ]:
greed = GridSearchCV(dtree, best_params_dict)

In [ ]:
greed.fit(X_train, y_train)

GridSearchCV(estimator=DecisionTreeRegressor(random_state=0),
             param_grid={'criterion': ['squared_error'], 'max_depth': [25]})

In [ ]:
greed.score(X_test, y_test)

0.9093515586830188

In [ ]:
X_predict = np.arange(1961, 2030)
X_predict = np.repeat(X_predict, 12)
X_predict = pd.Series(X_predict)
X_predict

0      1961
1      1961
2      1961
3      1961
4      1961
       ...
823    2029
824    2029
825    2029
826    2029
827    2029
Length: 828, dtype: int64

In [ ]:
X_1_predict = []
for i in range(69):
  X_1_predict += range(1, 13)
X_1_predict = pd.Series(X_1_predict)

In [ ]:
df_new = pd.DataFrame(data = {'year': X_predict, 'month': X_1_predict})

In [1]:
pred = greed.predict(df_new)
pred

NameError: ignored